<nav class="navbar fixed-bottom navbar-light bg-light justify-content-end">
  <a class="navbar-brand">
    <img
      src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
      width="34"
      height="34"
      class="d-inline-block align-top"
      alt=""
    />
    Bootstrap
  </a>
  <a class="navbar-brand" target="_blank" href="http://paulgligor.com">
    <img
      src="http://paulgligor.com/assets/images/square-logo.png"
      width="35"
      height="35"
      class="d-inline-block align-top pg-logo"
      alt=""
    />
    Paul Gligor
  </a>
</nav>
